{# roles/generate_vpns/templates/main.conf2.j2 #}
{# Not used currently #}

---
{% set allsites = [] %}
{% set newsite = [] %}
{% for site in generate_vpns.sites %}
- name: Create and apply configuration for {{ vpn.vpn_name }}
  set_fact:
    allsites: '{{allsites + [vpn.vpn_name]}}'
  with_items: '{{ vpns | site }}'
{#{{ allsites }}#}
{% endfor %}
